[Desktop Entry]
Type=Application
Name=PC Engine
Comment=PCE-TurboGrafx Emulator
Icon=pce
Exec=/usr/games/launchers/pce_launch.sh %f
Terminal=false
X-OD-NeedsDownscaling=true
Categories=emulators;
selectorbrowser=true
SelectorDir=/mnt/PCE-TurboGrafx
SelectorFilter=zip,ZIP,pce,PCE,sgx,SGX,cue,CUE
