[Desktop Entry]
Type=Application
Name=GameBoy
Comment=Game Boy Emulator
Icon=gb
Exec=/usr/games/launchers/gb_launch.sh %f
Terminal=false
X-OD-NeedsDownscaling=true
Categories=emulators;
selectorbrowser=true
SelectorDir=/mnt/Game Boy
SelectorFilter=gb,GB
