[Desktop Entry]
Type=Application
Name=MegaDrive
Comment=Sega Genesis/MegaDrive Emulator
Icon=megadrive
Exec=/usr/games/launchers/megadrive_launch.sh %f
Terminal=false
X-OD-NeedsDownscaling=true
Categories=emulators;
selectorbrowser=true
SelectorDir=/mnt/Sega Genesis
SelectorFilter=zip,ZIP,md,MD
