[Desktop Entry]
Type=Application
Name=Game Gear
Comment=Game Gear Emulator
Icon=gamegear
Exec=/usr/games/launchers/gamegear_launch.sh %f
Terminal=false
X-OD-NeedsDownscaling=true
Categories=emulators;
selectorbrowser=true
SelectorDir=/mnt/Game Gear
SelectorFilter=zip,ZIP,gg,GG
