[Desktop Entry]
Type=Application
Name=GameBoy Color
Comment=Game Boy Color Emulator
Icon=gbc
Exec=/usr/games/launchers/gb_launch.sh %f
Terminal=false
X-Od-NeedsDownscaling=true
Categories=emulators;
selectorbrowser=true
SelectorDir=/mnt/Game Boy Color
SelectorFilter=gbc,GBC
