[Desktop Entry]
Name=Lynx
Comment=Atari Lynx emulator
Icon=lynx
Exec=/usr/games/launchers/lynx_launch.sh %f
Categories=emulators
SelectorDir=/mnt/Atari lynx
SelectorFilter=lnx,lyx,o,zip
