[Desktop Entry]
Name=PicoArch
Comment=SDL Libretro frontend
Exec=/usr/games/picoarch %f
Icon=picoarch
Categories=games
SelectorDir=/mnt/Libretro/cores
SelectorFilter=so
